@use '../util/' as u;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    color: #fff;
    & img {
        width: 3rem;
        border-radius: 50%;
        margin: 1rem;
        opacity: 0.8;
        
    }
    & a {
        color: #fff;
        margin-right: 2rem;
        font-size: 1.3rem;
        transition: border-bottom 200ms;
    }
    .nav__links a:hover {
        border-bottom: 1.8px solid #fff;
        
    }
    @include u.breakpoint(large) {
        & img {
            width: 4rem;
        }
        & a {
            font-size: 1.7rem;
        }
    }
}

