@use '../util/' as u;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    color: #fff;
    & img {
        width: 3rem;
        border-radius: 50%;
        margin: 1rem;    
        box-shadow: 1px 1px 2px rgb(69, 69, 69);    
    }
    & a {
        color: #fff;
        margin-right: 2rem;
        font-size: 1.3rem;
        transition: border-bottom 200ms;
    }
    &__links {
        display: none;
    }
    &__links a:hover {
        border-bottom: 1.8px solid #fff;
    }
    @include u.breakpoint(small) {
        &__links {
            display: inline;
        }
    }
    @include u.breakpoint(large) {
        & img {
            width: 4rem;
        }
        & a {
            font-size: 1.7rem;
        }
    }
    
}
.background {
    background: rgb(23,173,255);
    background: linear-gradient(180deg, rgba(23,173,255,0.8673056722689075) 0%, rgba(255,255,255,0.9684261204481793) 50%);
    height: 22vh;
}
.toggle {
    width: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    position: absolute;
    right: 0.8rem;
    top: 2rem;
}

.bar1, .bar2 {
    background: #fff;
    margin-bottom: 0.9rem;
    height: 1.5px;
    width: 100%;
    transition: all 200ms;
    border-radius: 2px;
    // z-index: 100;
}
.bar1.clicked {
    transform: rotate(43deg) translateY(0.9rem);
    background: #000;
}
.bar2.clicked {
    transform: rotate(-45deg) translate(-0.1rem, -0.7rem);
    background: #000;
}
@include u.breakpoint(small) {
    .toggle {
        display: none;
        width: 0;
    }
}

.dropdown {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    background: #fff;
    width: 100%; 
    height: 100%;
    position: fixed;
    right: 0rem;
    top: 0;
    z-index: 5;
    &__links {
        display: grid;
        height: 10%;
        align-self: center;
        font-size: 2rem;
    }
    @include u.breakpoint(small) {
        display: none;
        width: 0;
    }
}
.down__link {
    margin-bottom: 3rem;
    color: black !important;
    border-bottom: 1.2px solid black;
    padding-right: 7rem;
    padding-bottom: 0.7rem;
}


