@use '../util/' as u;

.projects__container {
    position: relative;
    background-image: url('../../static/planets.jpg');
    display: grid;
    justify-content: center;
    & h2 {
        font-size: 2rem;
    }
    & p {
        color: var(--color-primary);
        transform: translateY(-12px);
        font-size: 2rem;
    }
    & .container {
        transform: translate(5vw, -13vh);
    }
    .circle {
        border: 2px solid #ff002a;
        left: 24vw;
        opacity: 0.75;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
    }
    @include u.breakpoint(medium) {
        & h2 {
            font-size: clamp(2.3rem, 2.3rem + 0.8vw, 4rem);
        }
        & .container {
            transform: translate(1vw, -13vh);
        }
        .circle {
            width: 12rem;
            height: 12rem;
        }
    }
    


}