.btn--primary {
    border: 1.6px solid var(--color-primary);
    background: none;
    color: var(--color-primary);
    border-radius: 2rem;
    transition: all 300ms; 
    cursor: pointer;
}
.btn--primary:hover {
    background: var(--color-primary);
    color: #fff;
}